<div class="container mt-4">
    <h2 class="mb-3">Update Customer Documents</h2>
    <form>
      <!-- Photo -->
      <div class="form-group" *ngIf="existingDocuments.basePhoto">
        <label>Current Photo:</label>
        <img [src]="'data:image/jpeg;base64,' + existingDocuments.basePhoto" alt="Photo" class="img-thumbnail">
        <input type="file" (change)="onFileChange($event, 'basePhoto')" class="form-control">
      </div>
      <!-- Aadhar -->
      <div class="form-group" *ngIf="existingDocuments.baseAadhar">
        <label>Current Aadhar Card:</label>
        <img [src]="'data:image/jpeg;base64,' + existingDocuments.baseAadhar" alt="Aadhar Card" class="img-thumbnail">
        <input type="file" (change)="onFileChange($event, 'baseAadhar')" class="form-control">
      </div>
      <!-- PAN Card -->
      <div class="form-group" *ngIf="existingDocuments.basePanCard">
        <label>Current PAN Card:</label>
        <img [src]="'data:image/jpeg;base64,' + existingDocuments.basePanCard" alt="PAN Card" class="img-thumbnail">
        <input type="file" (change)="onFileChange($event, 'basePanCard')" class="form-control">
      </div>
      <button type="button" class="btn btn-primary" (click)="onUpdateDocument()">Update</button>
      <button type="button" class="btn btn-secondary" (click)="goBackToDocuments()">Back</button>
    </form>
  </div>
  